* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

#root {
	display: block;
	height: 100vh;
	background: rgb(80, 80, 255);
	background: linear-gradient(
		21deg,
		rgba(80, 80, 255, 1) 0%,
		rgba(46, 197, 228, 1) 100%
	);
	background-image: url(/images/bg2.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.App {
	display: grid;
	max-width: 500px;
	margin: 0 auto;
	padding-top: 10vh;
}

@media screen and (max-width: 550px) {
	.App {
		max-width: 100%;
		margin: 0 15px;
	}
}

header {
	text-align: center;
	font-size: 26px;
	margin-bottom: 40px;
	font-family: "Indie Flower", sans-serif;
}

header span {
	font-family: "Indie Flower", sans-serif;
	font-size: 50px;
	margin-right: 5px;
}

.todo-form {
	display: grid;
	grid-template-columns: 1fr 40px;
	margin-bottom: 20px;
	transition: box-shadow 0.15s ease-in-out;
}

.input-active {
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.15s ease-in-out;
}

input {
	outline: none;
	padding: 10px;
	border-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: 1px solid #fff;
}

button {
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent;
}

.addTask {
	background: #54f2cd;
}

.addTask i {
	transition: font-size 0.2s ease-in-out, transform 0.2s ease-in-out;
	transform: rotate(0deg);
}

.addTask:hover i {
	font-size: 18px;
	transform: rotate(90deg);
	transition: font-size 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.filter {
	display: grid;
	justify-content: right;
	margin-bottom: 20px;
}

.filter select {
	padding: 10px;
	cursor: pointer;
	outline: none;
	border: 0;
	border-radius: 2px;
}

.todo-list {
	border-radius: 2px;
	overflow: hidden;
}

.todo-item {
	display: grid;
	grid-template-columns: 25px 1fr 25px;
	align-items: baseline;
	list-style: none;
	color: #404040;
	background: #fff;
	padding: 15px 15px;
	border-bottom: 1px solid #ccc;
}

.todo-item button {
	width: fit-content;
}

.todo-item .item-del {
	justify-self: end;
}

.todo-item i {
	color: #828282;
}

.completed {
	text-decoration: line-through;
	opacity: 0.5;
}

.completed .fa-check {
	color: #1ed760;
}

.item-del:hover i {
	color: #ff5858;
}
